@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: 0;
    background-image: url("so-white.png");
}

.socials {
    display: inline;
    position: fixed;
    top: 92%;
    left: 84%;
    overflow: hidden;
}
.socials a {
    display: block;
    text-decoration: none;
    color: black;
    float: right;
    padding: 14px 14px;
    font-size: 14px;
}

nav {
    overflow: hidden;
    background-color: black;
}

.logo a {
    margin-left: 10%;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 14px 14px;
}

.contact, .about, .home, .projects, .blog {
    display: inline-block;
    text-decoration: none;
    color: white;
    float: right;
    padding: 20px 14px;
    font-size: 14px;
}

.contact:after, .about:after, .home::after, .projects::after, .blog::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: red;
    text-decoration: none;
    transition: width .5s;
    text-decoration: none;
}


.contact:hover::after, .about:hover::after, .home:hover::after, .projects:hover::after, .blog:hover::after {
    width: 100%;
    transition: width .5s;
    text-decoration: none;
}

.contact:hover {
    text-decoration: none;
}


.blog {
    margin-right: 10%;
}

#active {
    text-decoration: none;
    color: red;
}

#button {
    text-decoration: none;
    color: white;
}

.container {
    opacity: 0;
}

.latest-project h1, .latest-project p, .latest-project a {
    text-align: right;
}

.project-button {
    float: right;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
} 

.project-button:hover {
    text-decoration: none;
    color: red;
    transition: color ease-in 0.5s;
}

.about-section a {
    color: black;
    font-size: 150%;
}


.about-section a i {
    color: red;
    font-size: 150%;
}

.about-section p {
    text-align: left;
}

.work-section a {
    float: right;
    font-size: 150%;
    color: black;
}

.work-section p {
    float: right;
    text-align: right;
}

.work-section a i{
    font-size: 150%;
    color: red;
}