@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: 0;
    background-color: rgba(51, 51, 51, 1);
}

.socials {
display: inline;
position: fixed;
    top: 92%;
    left: 84%;
    overflow: hidden;
}
.socials a {
    display: block;
    text-decoration: none;
    color: white;
    float: right;
    padding: 14px 14px;
    font-size: 14px;
}

.nav {
    overflow: hidden;
}

.logo a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 14px 14px;
}

.contact, .about, .home, .projects, .blog {
    display: block;
    text-decoration: none;
    color: white;
    float: right;
    padding: 14px 14px;
    font-size: 14px;
}

#active {
    color: blue;
}

.Center {
    margin-top: 5%;
    margin-left: 2%;
    color: white;
}

.link {
    text-decoration: none;
    color: blue;
}

.ProjectsSection {
    margin-top: 5%;
    margin-left: 2%;
    color: white;
}

.ProjectsSection li a{
    padding-right: 1%;
}

.ViewCodeButton {
    display: inline-block;
    padding: 2px 2px;
    margin: 0;
    font-size: medium;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(51, 51, 51, 1);
    background-color: white;
    border: none;
}
.ViewCodeButton:hover {
    color: blue;
}

.DownloadButton {
    display: inline-block;
    padding: 2px 2px;
    margin: 0;
    font-size: medium;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(51, 51, 51, 1);
    background-color: white;
    border: none;
}
.DownloadButton:hover {
    color: blue;
}

.ProjectTitle {
    font-size: 18px;
}